# Auto detect text files and perform LF normalization
* text=auto
# Force GitHub to recognize all .ipynb files
# under the 01_python directory (including subdirectories) as Python code
01_Python/**/*.ipynb linguist-language=Python